<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PokePortal</title>
    <link rel='stylesheet' href='/styles.css' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Press+Start+2P&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap'
      rel='stylesheet'
    />
  </head>
  <body class='bg-primarybackground'>
    {{! Header }}
    <header
      class='p-3 fixed z-10 top-0 left-0 flex justify-center items-center w-full'
    >
      {{! Navigation bar }}
      <nav class='flex justify-center items-center ml-4'>
        {{! Title }}
        <div>
          <img
            class='object-cover h-16'
            src='/assets/pokemon-title.png'
            alt='pokemon-title'
          />
        </div>
        {{! Buttons }}

        <div class='ml-6'>
          {{! Login btn }}
          <a href="/login" class="'mr-2">
          <button class='mr-2'>
            {{! span for img and text }}
            <span class='relative'>
              <img
                src='/assets/icons/yellow-btn.png'
                alt='yellow-btn'
                class='size-10 w-24 opacity-75'
              />
              <p
                class='absolute -left-8 top-2 text-xs font-arcade text-fontcolor'
              >LOGIN</p>
            </span>
          </button>
          </a>
          
          {{! Signup btn }}
          <a href="/signup" class="'mr-2">
          <button class='mr-2'>
            {{! span for img and text }}
            <span class='relative'>
              <img
                src='/assets/icons/yellow-btn.png'
                alt='yellow-btn'
                class='size-10 w-24 opacity-75'
              />
              <p
                class='absolute -left-9 top-2 text-xs font-arcade text-fontcolor'
              >SIGNUP</p>
            </span>
          </button>
          </a>
        </div>
      </nav>
    </header>
    {{{body}}}
   <!--
    <script src="/js/login.js"></script>
    -->
  </body>
</html>