<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to PokePortal</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://cdn.tailwindcss.com" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class='bg-violet-400'>
    <div>
      <div>
        <nav>
          <!--start nav-->
          <div>
            <h1>
              <a href="/">PokePortal</a>
            </h1>
          </div>
          <ul>
            <li>
              <a href="#">
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>about</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span>contact</span>
              </a>
            </li>
          </ul>
        </nav>
        <!--end nav-->
      </div>

      <main>
        <div>
          <a href="#">Log in</a>
          <a href="#">Sign Up</a>
        </div>

        <header>
          <h2></h2>
        </header>
      </main>
    </div>
    <div class="row align-center mb-5">
      <div class="login-button">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
      <div class="signOn-button">
        <button class="btn btn-primary" type="submit">Sign Up</button>
      </div>

      <div class="col-md-6">
        <h3>Are you Ready to Become A Master?</h3>
      </div>
      <div class="choose-button">
        <button class="btn btn-primary" type="submit">
          Choose Your Pokemon
        </button>
      </div>
    </div>
  </body>
</html>
