{{! Login }}
<section class='relative flex justify-center items-center'>
  <div
    class='flex flex-col justify-center items-center h-4/5 w-4/5 bg-blackbackground opacity-75 rounded'
  >
    <div class='flex flex-col justify-center items-center'>
      <h1 class='font-arcade text-fontcolor'>Welcome Back Trainer</h1>
      <img
        src='/assets/pokemons/mewtwo.gif'
        alt='mewtwo'
        class='h-64 w-64 m-8'
      />
    </div>
    <form class='flex flex-col justify-center items-center'>
      <label for='username' class='font-arcade'>Username</label>
      <input
        type='text'
        class='font-font text-fontcolor'
        placeholder='Username'
      />
      <label for='password' class='font-arcade'>Password</label>
      <input
        type='text'
        class='font-font text-fontcolor'
        placeholder='Password'
      />
      <button
        type='submit'
        class='font-arcade text-fontcolor w-50 h-24 bg-secondrybackground'
      >Login</button><button
        type='submit'
        class='font-arcade text-fontcolor w-50 h-24 bg-secondrybackground'
      >Register Instead</button>
    </form>
  </div>
</section>