<button
  id='menu-btn'
  class='h-14 w-14 mt-10 mb-20 absolute -top-28 left-3 z-20'
><img src='/assets/icons/pokeball.png' alt='pokeball' /></button>
<section
  id='sidebar'
  class='transition ease-in-out delay-150 flex flex-col items-center justify-start h-full max-w-24 bg-secondrybackground opacity-80 fixed top-0 left-0 z-0 hidden max-sm:hidden'
>

  <button id='pokedex' class='h-10 w-10 mt-32 mb-20 mr-10'><img
      src='/assets/icons/pokedex.png'
      alt='pokedex'
    />
    <p class='font-arcade text-fontcolor text-xs mt-4'>Pokedex</p></button>
  <button id='battle' class='h-10 w-10 mt-10 mb-20 mr-10 ml-4'><img
      src='/assets/icons/battle.png'
      alt='battle'
    />
    <p class='font-arcade text-fontcolor text-xs mt-4'>Battle</p></button>
</section>

{{! Pokedex }}
<section
  id='main'
  class='flex flex-col justify-start items-center bg-blackbackground opacity-80 rounded ml-32 mt-24 h-4/5 w-5/6 overflow-auto max-sm:ml-6'
>
  {{! Title }}
  <h1 class='font-arcade text-fontcolor m-7'>Pokedex</h1>
  {{! Poke Cards }}
  <div id='poke-container' class='flex flex-wrap justify-center items-center'>

  </div>

</section>

<script src='/js/profile.js'></script>