{{! Welcome page }}
<section class='relative'>
  <img
    src='/assets/PokeClass.jpg'
    alt='wallpaper'
    class='w-full h-full opacity-20'
  />
  <img
    src='/assets/dialog-box/prof.png'
    alt='proffesor-oak'
    class='absolute left-5 -bottom-5 h-48 w-28'
  />
 
</section>