{{! Welcome page }}
<section class='relative'>
  <img
    src='/assets/PokeClass.jpg'
    alt='wallpaper'
    class='w-full h-full opacity-20'
  />
  <img
    src='/assets/dialog-box/prof.png'
    alt='proffesor-oak'
    class='absolute left-5 -bottom-5 h-48 w-28'
  />
  <img
    src='assets/dialog-box/speech-dialog1.gif'
    alt='dialog-box'
    class='absolute left-20 bottom-40 h-24 w-60'
  />
</section>