{{! Login }}
<section class='relative flex justify-center items-center h-full'>
  <img
    src='/assets/pokemon-wallpaper.png'
    alt='walpaper'
    class='absolute w-full opacity-20'
  />
  <div
    class='flex flex-col justify-center items-center h-4/5 w-4/5 bg-blackbackground opacity-80 rounded border-2 border-fontcolor'
  >
    <div class='flex flex-col justify-center items-center'>
      <h1 class='font-arcade text-fontcolor mt-7'>Are you ready become a trainer
        ?</h1>
      <img
        src='/assets/pokemons/charizard.gif'
        alt='mewtwo'
        class='h-36 w-36 m-8'
      />
    </div>
    <form id='signup-form' class='flex flex-col justify-center items-center'>
      <label
        for='username'
        class='font-arcade text-fontcolor mb-5'
      >Username</label>
      <input
        id='username'
        type='text'
        class='font-font text-blackbackground mb-5 rounded'
        placeholder='Username'
      />
      <label
        for='password'
        class='font-arcade text-fontcolor mb-5'
      >Password</label>
      <input
        id='password'
        type='text'
        class='font-font text-blackbackground rounded'
        placeholder='Password'
      />
      <button id='submit' type='submit' class='relative mt-8'>
        <img
          src='/assets/icons/yellow-btn.png'
          alt='yellow-btn'
          class='size-10 w-32 opacity-85'
        />
        <p
          class='absolute left-8 top-2 text-xs font-arcade text-fontcolor'
        >Signup</p>
      </button>
    </form>
  </div>
</section>
<script src='/js/signup.js'></script>